.nav-links {
  place-items: center;
  display: flex;
  justify-content: space-evenly;
  width:100%;
}

#main-nav{
    position:fixed;
    top:0;
    left:0;
    background:white;
}

.nav-links :hover {
  background-color: #00ff97;
  color: black;
}

body {
  font-family:sans-serif;
  font-size: 18px;
  background-color: #00ff97;
}

nav,h1,h2,h3,h4,h5{
  font-family: "CircularStdBold", Helvetica, sans-serif;
}

@font-face {
  font-family: "CircularStdBold";
  src: url("/fonts/CircularStd-Bold.otf"); /* IE9 Compat Modes */
  src: url("/fonts/CircularStd-Bold.otf") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/CircularStd-Bold.otf") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/CircularStd-Bold.otf")
      format("woff"),
    /* Pretty Modern Browsers */ url("/fonts/CircularStd-Bold.otf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/CircularStd-Bold.otf") format("svg"); /* Legacy iOS */
}

.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
}

footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
.banner-container img {
  width: 100%;
  height: auto;
}
